@{
    ViewData["Title"] = "GoodReads";
}

<div class="text-center">
    <h1 class="text-primary display-4 ">Welcome To GoodReads!</h1>
    <div class="text-center">
        <img width="200px" src="~/gr_logo.jpg" alt="GR-LOGO">
    </div>
    <p class="text-secondary" style="font-size:20px;">A Place to Read Good Books</p>
</div>
